.checkbox-adv-section {
    padding-bottom: 30px;
}

.checkbox-adv-section h2 {
    font: 400 24px/32px var(--regular-txt);
    margin-bottom: 18px;
}

.checkbox-adv-container {
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.checkbox-full-container {
    margin-bottom: 16px;
}

.checkbox-full-container > span {
    font-size: 14px;
}

.checkbox-adv > label {
    background-color: var(--white-color);
    border: 1px solid var(--handle-bg-color);
    cursor: pointer;
    display: flex;
}

.large > label {
    flex-direction: column;
}

.large > label .checkbox-img {
    border-bottom: 1px solid var(--handle-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 119px;
    width: 203px;
}

.large > label .checkbox-txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
    padding: 0 12px;
}

.full > label {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    padding: 0 12px; 
}

.full > label .checkbox-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full > label .checkbox-txt {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 14px;
}

.full > label .checkbox-txt .txt-on,
.full > label .checkbox-txt .txt-off {
    padding: 0 12px;
}

.full > input:checked + label .checkbox-txt .txt-on,
.full > label .checkbox-txt .txt-off {
    display: inline-block;
}

.full > label .checkbox-txt .txt-on,
.full > input:checked + label .checkbox-txt .txt-off {
    display: none;
}

.checkbox-switch {
    background-color: var(--unchecked-color);
    border-radius: 9px;
    display: flex;
    justify-content: start;
    padding: 1px;
    height: 18px;
    width: 36px;
    transition: all 200ms ease-in-out;
}

.checkbox-switch:after {
    background-color: var(--white-color);
    border-radius: 8px;
    content: "";
    height: 16px;
    width: 16px;
}

.checkbox-adv.large input:checked + label {
    border: 1px solid var(--checked-color);
}

input:checked + label .checkbox-switch {
    background-color: var(--checked-color);
    justify-content: end;
}

.checkbox-full-panel {
    background-color: var(--lightest-color);
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-height: 0;
    overflow: hidden;
    padding: 0 16px;
    transition: all 200ms ease-in-out;
}

.full > input:checked ~ .checkbox-full-panel {
    max-height: 1500px;
    padding: 16px;
}

.checkbox-adv.small {
    flex-basis: calc((100% / 3) - 11px);
}

.checkbox-adv.small > label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px 0 6px;
    height: 64px;
}

.checkbox-adv.small .checkbox-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 67px;
}

.checkbox-adv.small .checkbox-txt {
    font-size: 14px;
    margin-right: auto;
}