@import "../../Base/Scss/base.scss";

#htmlPreviewWindow {
    display: none;
}

#left-pane .pane-content {
    height: 100% !important;
    min-height: inherit;
    overflow: hidden;
}

#left-pane #DynamicContentPane {
    overflow-y: auto;
}

#left-pane .input-container {
    transition: 150ms all;
    background-color: var(--white-color);
    display: flex;
    min-height: 60px;
    margin: 0 !important;
    padding: 12px 6px 0 6px;
    position: -webkit-sticky;
    position: sticky;
    top: -74px;
    z-index: 100;
}

#left-pane .sticky .input-container {
    top: 0;
}

#left-pane .input-container .item {
    background-color: var(--white-color);
    width: calc(100% / 3);
}

#left-pane .k-tabstrip-wrapper {
    height: calc(100% - 75px);
}

#left-pane .k-tabstrip .k-tabstrip-items {
    transition: 150ms all;
    top: 0;
}

#left-pane .sticky .k-tabstrip .k-tabstrip-items {
    top: 74px;
}

#right-pane .k-tabstrip .k-tabstrip-items {
    top: 5px;
}

#right-pane .previewContainer {
    min-height: calc(100vh - 130px);
    position: relative;
}

#right-pane .previewContainer .col-6 {
    flex-basis: 100%;
}

#right-pane .previewContainer #previewHtml {
    font-family: var(--regular-txt);
    font-size: 13px;
    font-weight: 400;
    margin-right: 0;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#right-pane .previewContainer #previewHtml .k-button-text {
    padding-left: 5px;
}

#left-pane .k-tabstrip .k-content.k-state-active {
    padding: 12px;
}

#right-pane .k-tabstrip .k-content.k-state-active {
    padding: 5px 2px;
}

.item.has-default-value {
    opacity: 0.6;
}

.k-window .window-content {
    padding: 0;
}

.historyContainer {
    padding: 2px;
}

.historyContainer * {
    box-sizing: border-box;
}

.historyContainer .row {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.historyContainer .col-6 {
    flex-basis: calc(50% - 1px);
}

.historyContainer .col-12 {
    flex-basis: 100%;
	width: 0;
}

.historyHeader .col {
    background-color: var(--body-color);
    display: flex;
    padding: 5px 12px;
    height: 40px;
    line-height: 40px;
}

.historyHeader h3 {
    height: 30px;
    line-height: 30px;
}

.historyTagline {
    border-bottom: 1px solid var(--body-color);
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.historyTagline span {
    white-space: nowrap;
    display: inline-block;
    line-height: 16px;
    height: 16px;
}

.historyTagline .k-icon {
    margin: 0 2px;
}

.historyTagline .k-button {
    font-family: var(--regular-txt);
    font-size: 13px;
    font-weight: 400;
    margin-left: auto;
    margin-right: 0;
}

.historyLine .col-6 {
    padding-top: 10px;
}

.historyLine .checkLine {
    padding-top: 0;
}

.historyDynamic {
    border-top: 1px solid var(--body-color);
    padding-top: 15px;
    margin-top: 15px;
}

.checkLine .item {
    padding: 0 6px;
}

.checkLine .item .inline {
    margin: 0;
}

.window-footer {
    border-top: 1px solid var(--handle-bg-color);
    display: block;
    min-height: 60px;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background: var(--white-color);
    text-align: right;
    padding: 10px;
}

#panelwithsplitter {
    height: calc(100% - 63px);
    margin: 0;
    padding: 0;
    border: 0;
}

/** ONLY CHILD **/
.CustomSql-group .item:only-of-type {
    width: 100% !important;
}
.CustomSql-group .CodeMirror {
    width: 100%;
}

/** FIELDSET **/
.sub-group {
    display: flex;
    flex-wrap: wrap;
    border: none;
    margin-top: 15px;
    margin-left: -6px;
    margin-right: -6px;
    position: relative;
}

.sub-group legend {
    background: var(--lightest-color);
    font-weight: 700;
    margin: 6px;
    padding: 15px 6px;
    width: calc(100% - 22px);
}

.sub-group button {
    position: absolute;
    bottom: calc(100% + 11px);
    right: 0;
}

/** FIELD ELEMENTS **/
#DynamicContentComponentInputs span.k-widget,
#DynamicContentComponentInputs span.k-picker,
#DynamicContentComponentInputs span.k-combobox,
#DynamicContentComponentInputs span.k-multiselect,
#DynamicContentComponentInputs .item .inline {
    margin: 0;
}

#DynamicContentComponentInputs span.k-input {
    border: 1px solid var(--border-color);
    margin: 5px 0;
    max-height: 50px;
}

/********************** 
* CodeMirror
**********************/
.k-window-content .CodeMirror-fullscreen,
.k-content .CodeMirror-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    z-index: 2000;
}

.item.has-default-value .CodeMirror-fullscreen {
    opacity: 1;
}

.item .CodeMirror,
.item table.k-editor {
    flex-grow: 1;
}

/** KENDO DROPDOWNS **/
.k-combobox .k-icon,
.k-dropdown .k-icon,
.k-picker-wrap .k-icon {
    top: 14px;
}
.item[data-label-style="float"] .k-combobox .k-icon.k-i-arrow-60-down,
.item[data-label-style="float"] .k-dropdown .k-icon.k-i-arrow-60-down,
.item[data-label-style="float"] .k-picker-wrap .k-icon.k-i-arrow-60-down,
.item[data-label-style="float"] .k-input .k-datetimepicker .k-icon {
    top: 24px;
}