/** preview tab **/
.previewContainer {
    padding: 2px;
}

.previewContainer * {
    box-sizing: border-box;
}

.previewContainer .row {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-basis: 100%;
    flex-wrap: wrap;
    max-width: 100%;
}

.previewContainer .item {
    max-width: 100%;
}

.previewContainer .col-6 {
    flex-basis: auto;
    max-width: 100%;
}

#right-pane .previewContainer .col-6 {
    flex-basis: auto;
}

.previewContainer .col-12 {
    flex-basis: 100%;
    max-width: 100%;
}

.previewContainer .flex-container {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.previewContainer .dropdown-container {
    flex: 1 1 auto;
    margin-right: 20px;
}

.previewContainer .preview-profile,
.previewContainer #preview-results,
.previewContainer #preview-variables {
    max-width: 100%;
}

.previewContainer .dropdown-button {
    align-self: center;
}

.previewContainer .button-container {
    display: flex;
    justify-content: end;
}

.previewContainer .button-container button:nth-last-of-type(1) {
    margin-right: 0;
}

.previewContainer .k-grid-content {
    min-height: 50px;
}

#previewIframe {
    border: 1px solid var(--dark-bd-color);
    border-radius: 3px;
    width: 100%;
    height: 100%;
    min-height: 350px;
}

.html-preview-window .CodeMirror {
    height: calc(100vh - 105px);
}