@import "../../Base/scss/base.scss";

#wiser {
    display: block;
}

#NotMainBranchNotification {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#NotMainBranchNotification p {
    border: 2px dashed #F5C2C7;
    color: #842029;
    background-color: #F8D7DA;
    padding: 10px;
    font-size: large;
}

.k-dialog #createNewItemDialog,
.k-dialog #addDynamicContentToHtmlDialog,
.k-dialog #linkExistingDynamicContentDialog {
    display: revert;
}

.k-dialog .k-dialog-title {
    font: 20px var(--title-txt) !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    padding: 2px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

:root {
    --live-color: #7CBD00;
    --test-color: #FFF300;
    --accept-color: #FF7000;
}

.k-window .window-content {
    bottom: 0;
    top: 75px;
    padding: 0;
}

.k-window .window-header {
    background-color: transparent;
    box-sizing: border-box;
    height: 75px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: end;
    padding: 16px;
    z-index: 1100;
}

#window {
    top: 0;
    position: absolute;
    bottom: 0;
    overflow-x: hidden;
}

.search-container {
    height: 42px;
    max-width: 25%;
    position: relative;
    width: 100%;
}

.icon-line-search {
    cursor: pointer;
    font-size: 24px;
    height: 42px;
    line-height: 42px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    width: 42px;
    background: none;
    border: none;
}

.search-container .loader-icon {
    position: absolute;
    top: 7px;
    right: 0;
}

.search-container.loading .icon-line-search {
    display: none;
}

.search-container.loading,
.search-container.loading input {
    cursor: wait;
}

.version-block {
    padding: 20px 6px 0 6px;
}

.version-block .item {
    max-width: 275px;
    width: calc(100% / 3);
}

.version-block .item .flex-container {
    flex-direction: row;
    position: relative;
}

.version-block .item .flex-container .k-dropdownlist {
    flex-grow: 0;
    margin: 0 5px 0 0;
}

.version-block .item button {
    margin-right: 0;
}

.version-block .item .flex-container > button {
    flex-grow: 1;
    min-width: 160px;
}

.version-block .version-actions {
    max-width: fit-content;
    display: flex;
    gap: 5px;
}

.version-block .version-actions > button {
    width: auto;
    margin: 0;
}

.version-block .version-test {
    margin-right: auto;
}

.version-block .branch-container,
.version-block .component-branch-container,
.version-block .branch-container .flex-container,
.version-block .component-branch-container .flex-container {
    width: 813px;
}

.version-block .branch-container #deployToBranch,
.version-block .component-branch-container #deployToBranch {
    flex-grow: 0;
}

.version-block .branch-container .flex-container .k-dropdownlist,
.version-block .component-branch-container .flex-container .k-dropdownlist {
    flex-grow: 1;
}

.k-dialog #translationsDialog {
    display: block;
}

/** TREEVIEW **/
#right-pane {
    width: auto;
    right: 0;
}

.pane-content .k-treeview {
    min-height: calc(100vh - 230px);
    overflow-x: hidden;
}

#left-pane .k-tabstrip {
    background-color: var(--item-bg-color);
}

#left-pane .k-tabstrip .k-treeview {
    min-height: calc(100vh - 280px);
}

#left-pane #addButton,
.k-treeview + button {
    margin: 0;
    position: absolute;
    left: auto;
    right: 20px;
    bottom: 20px;
    padding: 0;
}

/** TABSTRIP **/
#left-pane .k-tabstrip-items-wrapper {
    display: flex;
}

#left-pane .k-tabstrip-items-wrapper .k-tabstrip-prev,
#left-pane .k-tabstrip-items-wrapper .k-tabstrip-next {
    margin: 0;
}

#left-pane .k-tabstrip-wrapper,
#left-pane .k-tabstrip,
#right-pane .k-tabstrip-wrapper,
#right-pane .k-tabstrip {
    height: 100%;
    position: absolute;
    inset: 0;
}

.tabWidthContainer {
    max-width: 100%;
}

#left-pane .k-tabstrip .k-content.k-state-active,
#right-pane .k-tabstrip .k-content.k-state-active {
    position: absolute;
    top: 49px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

#right-pane .k-tabstrip .k-content.k-state-active {
    min-height: calc(100% - 55px);
}

#right-pane .k-tabstrip .k-tabstrip-items,
#left-pane .k-tabstrip .k-tabstrip-items {
    top: 0;
}

#left-pane .k-tabstrip > .k-tabstrip-prev,
#left-pane .k-tabstrip > .k-tabstrip-next {
}
#left-pane .k-tabstrip > .k-tabstrip-next {
    right: 0;
}

/** DEVELOPMENT **/
.developmentContainer {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap;
}

.developmentContainer > div {
    flex: 1;
    overflow: auto;
    margin-bottom: 50px;
}

.linkedTemplates {
    display: flex;
    width: 100%;
}

.developmentContainer > .editor-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.editor-container .CodeMirror,
.editor-container table.k-editor {
    flex-grow: 1;
}

footer {
    background: var(--white-color);
    border-top: 1px solid #dddddd;
    border-radius: 0 0 6px 6px;
    box-sizing: content-box;
    padding: 10px;
    z-index: 250;
    min-height: 47px;
    flex-shrink: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.version-actions {
    width: 100%;
    text-align: right;
}

.version-actions > .k-picker {
    width: 300px;
}

.version-actions > button {
    min-width: 50px;
    height: 42px;
}

/** ADVANCED **/
.advanced {
    transition: 200ms ease-in-out;
    border: 1px solid var(--dark-bd-color);
    margin: 20px 6px;
    width: calc(100% - 12px);
}

.formview.full .advanced {
    width: calc(100% - 12px);
}

.advanced:hover {
    border-color: var(--action-hover);
}

.group-label {
    display: flex;
    cursor: pointer;
    font-weight: 700;
}

.group-label ins {
    transition: 200ms ease-in-out;
    margin-left: auto;
}

.advanced input:checked ~ .group-label ins {
    transform: rotate(180deg);
}

.advanced-panel {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    transition: 200ms ease-in-out;
    max-height: 0;
    padding: 0;
    overflow: hidden;
}

.advanced input:checked ~ .advanced-panel {
    max-height: 2000px;
    padding: 10px 0;
}

.advanced-panel .checkColumns {
    list-style: none;
    column-count: 3;
    width: 100%;
}

.advanced-panel .checkColumns li {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    display: block;
    padding-left: 5px;
}

.advanced-panel .checkColumns li .form-hint {
    margin-top: -15px;
    padding-left: 28px;
    padding-bottom: 10px;
}

.advanced-panel .item-left {
    display: flex;
    flex-wrap: wrap;
}

.advanced-panel .item-left .item:not(.full-width) {
    width: 50%;
}

.advanced-panel .item-right {
    padding-left: 40px;
    padding-top: 15px;
}

.advanced-panel .item-full {
    width: 100%;
}

.header-footer-regex-panel,
.user-check-panel,
.object-grouping-panel {
    transition: 200ms ease-in-out;
    max-height: 0;
    padding: 0 0 0 22px;
    overflow: hidden;
}

#isDefaultHeader:checked ~ .header-footer-regex-panel,
#isDefaultFooter:checked ~ .header-footer-regex-panel,
#loginRequired:checked ~ .user-check-panel,
#groupingCreateObjectInsteadOfArray:checked ~ .object-grouping-panel {
    max-height: 2000px;
    padding: 0 0 0 22px;
}

/** HISTORY **/
.historyContainer {
    padding: 2px;
}

.historyContainer * {
    box-sizing: border-box;
}

.historyContainer .row {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.historyContainer .col-6 {
    flex-basis: calc(50% - 1px);
}

.historyContainer .col-12 {
    flex-basis: 100%;
}

.historyHeader .col {
    background-color: var(--body-color);
    display: flex;
    padding: 5px 12px;
    height: 40px;
    line-height: 40px;
}

.historyHeader h3 {
    height: 30px;
    line-height: 30px;
}

.historyTagline {
    border-bottom: 1px solid var(--body-color);
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.historyTagline span {
    white-space: nowrap;
    display: inline-block;
    line-height: 16px;
    height: 16px;
}

.historyTagline .k-icon {
    margin: 0 2px;
}

.historyTagline .k-button {
    font-family: var(--regular-txt);
    font-size: 13px;
    font-weight: 400;
    margin-left: auto;
    margin-right: 0;
}

.historyTagline ins {
    border-radius: 100%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2), 0 2px 3px rgba(0,0,0,0.05);
    margin-left: 8px;
    margin-right: 8px;
    height: 24px;
    width: 24px;
}

.historyTagline ins.live {
    background-color: var(--live-color);
}

.historyTagline ins.test {
    background-color: var(--test-color);
}

.historyTagline ins.accept {
    background-color: var(--accept-color);
}

.historyLine .col-6 {
    padding-top: 10px;
}

.historyLine .item,
.historyLine .item .k-widget,
.historyLine .item .k-widget > textarea {
    min-height: 100%;
    height: 100%;
}

.historyLine .item .k-widget > textarea {
    min-height: 200px;
}

.historyLine .checkLine {
    padding-top: 0;
}

.historyDynamic {
    border-top: 1px solid var(--body-color);
    padding-top: 15px;
    margin-top: 15px;
}

/** DYNAMIC CONTENT GRID **/
#dynamicContent.k-content.k-state-active {
    display: flex !important;
}

.dynamicContainer {
    overflow: hidden;
}

#dynamic-grid {
    height: 100%;
}

#dynamic-grid .version ins {
    border-radius: 100%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2), 0 2px 3px rgba(0,0,0,0.05);
    display: inline-flex;
    margin-left: 2px;
    margin-right: 3px;
    height: 16px;
    width: 16px;
    vertical-align: text-bottom;
}

#dynamic-grid .version ins.live {
    background-color: var(--live-color);
}

#dynamic-grid .version ins.test {
    background-color: var(--test-color);
}

#dynamic-grid .version ins.accept {
    background-color: var(--accept-color);
}

#dynamic-grid .k-button-icontext .k-icon {
    margin: 0;
}

#dynamic-grid.k-grid .k-icon {
    opacity: 0.75;
}

#published-environments .item .flex-container .k-dropdown,
#published-environments .item .flex-container .k-dropdownlist,
#published-environments-dynamic-component .item .flex-container .k-dropdown,
#published-environments-dynamic-component .item .flex-container .k-dropdownlist {
    width: 100%;
}

#published-environments .item .flex-container .k-dropdownlist {
    min-width: 90px;
    width: 40%;
}

/** MEASUREMENTS **/
#measurementCharts {
    width: 100%;
    height: 700px
}

.k-state-default > .k-clear-value {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    right: 30px;
}

.k-editor-toolbar .k-button {
    padding: 0;
}

/** DYNAMIC CONTENT **/
#dynamicContentWindow {
    padding-bottom: 0;
    position: relative;
    top: auto;
    bottom: auto;
    overflow-x: auto;
}

/**********************
* CodeMirror
**********************/
.k-window-content .CodeMirror-fullscreen,
.k-content .CodeMirror-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    z-index: 2000;
}

.html-source-window .CodeMirror {
    height: calc(100vh - 168px);
}

.CodeMirror-lint-tooltip {
    z-index: 20000 !important;
}

/* IFRAME */
.for-iframe .window-content {
    top: 0;
}

.for-iframe .k-window-titlebar {
    display: none;
}

/* Measurements */
.row.measurement-settings .flex-container.item > label {
    margin-bottom: 5px;
}
.row.measurement-settings .flex-container.item .inline {
    margin: 0;
}
.row.measurement-filters {
    flex-direction: row;
}
.row.measurement-filters .col {
    flex: 1 1 25%;
}
.row.measurement-filters .col .flex-container.item > .k-input {
    margin: 5px 0;
}