<div class="formview full" id="ExportContainer">
    <div class="item">
        <div id="DataSelectorContainer">
            <input type="radio" name="exportType" id="ExportDataSelector" class="noForm rToggle" value="dataselector" />
            <header>
                <label for="ExportDataSelector" class="radio rToggle"><span>Data selector</span></label>
            </header>
            <div>
                <select id="DataSelectorList" name="dataSelector" class="kendo-dropdown-list">
                </select>
            </div>
        </div>

        <div id="QueryContainer">
            <input type="radio" name="exportType" id="ExportQuery" class="noForm rToggle" value="query" />
            <header>
                <label for="ExportQuery" class="radio rToggle"><span>Query</span></label>
            </header>
            <div>
                <select id="QueryList" name="query" class="kendo-dropdown-list">
                </select>
            </div>
        </div>

        <div id="ModuleContainer">
            <input type="radio" name="exportType" id="ExportModule" class="noForm rToggle" value="module" />
            <header>
                <label for="ExportModule" class="radio rToggle"><span>Module</span></label>
            </header>
            <div>
                <select id="ModuleList" name="module" class="kendo-dropdown-list">
                </select>
            </div>
        </div>
    </div>
    
    <div class="item">
        <h4><label for="fileFormatList">Bestandsformaat</label></h4>
        <div>
            <select id="fileFormatList" class="kendo-dropdown-list" name="fileformat"></select>
        </div>
        <div class="form-hint"><span>Kies het bestandsformaat waarnaar de data geëxporteerd moet worden</span></div>
        <div class="clear clear15"></div>
    </div>

    <!-- FIXED FOOTER -->
    <footer class="fixed">
        <div class="actions">
            <button id="startExportButton" class="k-primary button rightButton">Start export</button>
        </div>
    </footer>
</div>