@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model FrontEnd.Modules.Templates.Models.DevelopmentTabViewModel
<div class="item advanced">
    <input type="checkbox" class="hidden" id="advanced" />
    <label for="advanced" class="group-label"><strong>@Localizer["Advanced"]</strong><ins class="k-icon k-i-arrow-60-down"></ins></label>

    <div class="advanced-panel">
        <partial name="Partials/@Model.SettingsPartial" model="@Model.TemplateSettings" />
    </div>
</div>