@model FrontEnd.Modules.Templates.Models.DevelopmentTabViewModel
<div class="item editor-container" style="width: 100%;">
    <h4><label for="editor">Template (@Model.TemplateSettings.Type.ToString())</label></h4>
    <textarea class="editor" rows="10" cols="30" id="editor" data-editor-type="@Model.EditorType">@Model.TemplateSettings.EditorValue</textarea>
    <div class="form-hint"><span></span></div>
</div>

<div id="translationsDialog">
    <div class="formview full static-fields">
        <div class="item">
            <h4><label for="translationsDropDown">Hiermee kan een vertaalwoord ingevoegd worden. Dit woord wordt dan automatisch op de website vertaald naar de taal die de gebruiker heeft gekozen. Deze vertaalwoorden kunnen in de module "Vertalingen" ingevuld worden.</label></h4>
            <select id="translationsDropDown" class="select"></select>
        </div>
    </div>
</div>