// Variables
@import 'variables';

//// MIXINS
@import 'mixin/mixin';

.w-dialog {
    max-height: 90vh;
    max-width: 90vw;
    display: flex;
    flex-direction: column;

    .container {
        max-width: 1500px;

        &.stretch {
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }

        .row {
            padding-left: 0;
            padding-right: 0;

            .col {
                &.align-right {
                    display: flex;
                    justify-content: end;

                    .btn {
                        margin-left: 10px;
                        margin-right: 0;
                    }
                }

                &.flex-inline {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    padding: 20px 0;

                    * {
                        max-width: 20%;
                    }

                    button {
                        margin: 0;
                    }
                }
            }

            &.no-scroll {
                overflow: hidden;
                display: contents;
            }
        }

        + footer {
            .inline {
                display: flex;
                align-items: center;

                .radio {
                    + .radio {
                        margin-left: 30px;
                    }
                }
            }

            > .row {
                padding: 20px;
            }
        }

        footer {
            .col {
                display: flex;
                align-items: center;
            }
        }
    }

    .form-row {
        label {
            width: 100%;

            .label-info {
                float: right;
            }
        }
    }

    .table-row {
        overflow: hidden;
        display: contents;

        table {
            .extra {

                label, div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    input {
                        width: calc(50% - 10px);
                    }
                }
            }
        }
    }

    .fixed-table {
        overflow: auto;
        height: 100%;
        width: calc(100% - 20px);
        margin: 0 10px;

        table {
            border-collapse: collapse;
            width: 100%;

            thead {
                th {
                    background-color: $line-md-color;
                    border-bottom: 1px solid $line-color;
                    color: $thead-color;
                    position: sticky;
                    top: 0;
                    z-index: 1;
                    text-align: left;
                }
            }

            tbody {
                tr {
                    &:nth-child(even) {
                        td {
                            background-color: $lt-color;
                        }
                    }
                }
            }

            th {
                padding: 1px 5px;
            }

            td {
                padding: 5px;
            }
        }
    }
}

.full-height {
    .w-dialog {
        height: 90vh;
        padding: 0;

        > h1 {
            padding: 20px;
        }

        .container:not(footer) {
            overflow-y: auto;
            padding: 0 20px;
        }

        .table-row {
            display: block;

            .fixed-table {
                margin: 0;
                width: 100%;
                max-height: 552px;
            }
        }
    }
}

.equal {
    > .col {
        display: flex;
        flex-direction: column;

        p {
            margin-bottom: auto;
        }

        .btn {
            margin-top: 50px;
        }
    }
}

/* Form elements */
input[type=text],
input[type=number],
input[type=search],
input[type=url],
input[type=password],
input[type=email],
input[type=date],
input[type=datetime-local],
select {
    background-color: $white-color;
    border-color: $line-color;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    font: 16px/24px $font-body;
    padding: 9px;
    height: 42px;
}

.full-width {
    width: 100%;
}

.checkbox,
.radio {
    cursor: pointer;
    display: block;

    > input {
        height: 1px;
        opacity: 0;
        position: absolute;
        width: 1px;
    }

    span {
        display: block;
        line-height: 2em;
        min-height: 28px;
        padding: 5px 5px 5px 28px;
        position: relative;

        &:before {
            background: $white-color;
            border: 1px solid $button-cancel-color;
            box-sizing: content-box;
            content: "";
            height: 18px;
            position: absolute;
            left: 0;
            top: 8px;
            width: 18px;
        }

        &:after {
            background: $selected-color;
            content: "";
            height: 10px;
            position: absolute;
            left: 5px;
            top: 13px;
            width: 10px;
            opacity: 0;
        }
    }

    input:checked {
        + span {
            &:after {
                opacity: 1;
            }
        }
    }
}

.radio {
    span {
        &:before,
        &:after {
            border-radius: 100%;
        }
    }
}

.error {
    color: $alert-color;
}

.btn-alert {
    background-color: $alert-color;
    color: $white-color;
}

/* TEMP SCSS */
.w-dialog {
    > button {
        margin-top: 15px;
        position: absolute;
        top: 100%;
        width: 25%;
        left: 0;

        &:nth-of-type(1) {
            transform: translateX(0);
        }

        &:nth-of-type(2) {
            transform: translateX(100%);
            margin-left: 10px;
        }

        &:nth-of-type(3) {
            transform: translateX(200%);
            margin-left: 20px;
        }
    }
}