// Variables
@import 'variables';

//// MIXINS
@import 'mixin/mixin';

.w-dialog-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1100;
    
    &.general-message-dialog {
        z-index: 1101;
    }
}

.w-overlay {
    position: absolute;
    background: $black-color;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1101;
    opacity: 0.5;
}

.w-dialog {
    position: absolute;
    z-index: 1102;
    background-color: $white-color;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;

    h1 {
        font: 30px/43px $font-book;
    }

    /* Form elements */
    input[type=text],
    input[type=number],
    input[type=search],
    input[type=url],
    input[type=password],
    input[type=email],
    input[type=date],
    input[type=datetime-local],
    select {
        background-color: $white-color;
        border-color: $line-color;
        border-style: solid;
        border-width: 1px;
        border-radius: 3px;
        font: 16px/24px $font-body;
        padding: 9px;
        height: 42px;
    }

    .full-width {
        width: 100%;
    }

    .checkbox,
    .radio {
        cursor: pointer;
        display: block;

        > input {
            height: 1px;
            opacity: 0;
            position: absolute;
            width: 1px;
        }

        span {
            display: block;
            line-height: 2em;
            min-height: 28px;
            padding: 5px 5px 5px 28px;
            position: relative;

            &:before {
                background: $white-color;
                border: 1px solid $button-cancel-color;
                box-sizing: content-box;
                content: "";
                height: 18px;
                position: absolute;
                left: 0;
                top: 8px;
                width: 18px;
            }

            &:after {
                background: $selected-color;
                content: "";
                height: 10px;
                position: absolute;
                left: 5px;
                top: 13px;
                width: 10px;
                opacity: 0;
            }
        }

        input:checked {
            + span {
                &:after {
                    opacity: 1;
                }
            }
        }
    }

    .radio {
        span {
            &:before,
            &:after {
                border-radius: 100%;
            }
        }
    }

    .error {
        color: $alert-color;
    }

    .btn-alert {
        background-color: $alert-color;
        color: $white-color;
    }

    button {
        margin-right: 10px;
    }

    .form-row {
        border-bottom: none;
        padding: 0 0 5px 0;
    }
    
    .close-dialog {
        background: none;
        width: auto;
        position: absolute;
        cursor: pointer;
        border: 0;
        right: 20px;
        top: 20px;
        margin: 0;
        padding: 0;
        z-index: 1103;
    }
}