// Variables
@import 'variables';

//// MIXINS 
@import 'mixin/mixin';

/**
 *  Form elements
 **/
.no-form {
    height: 1px;
    opacity: 0;
    position: absolute;
    width: 1px;
}

input[type="text"],
input[type="number"],
input[type="search"],
input[type="url"],
input[type="password"],
input[type="email"],
input[type="date"] {
    background-color: $white-color;
    border: {
        color: $line-color;
        style: solid;
        width: 1px;
    }
    border-radius: 3px;
    font: 16px/24px $font-medium;
    padding: 9px;
    height: 42px;
    
    &:focus {
        @include transition(200ms);
        @include drop-shadow($black-color, 10px, 0.1);
    }
    
    &.error {
        border-color: $alert-color;
    }
}

.check-box {
    input + span {
        display: block;
        padding-left: 30px;
        
        &:before {
            background-color: $white-color;
            border: {
                color: $line-color;
                style: solid;
                width: 1px;
            }
            border-radius: 3px;
            content: "";
            position: absolute;
            left: 0;
            top: 4px;
            height: 20px;
            width: 20px;
        }
    }
    input:checked + span {
        
        &:after {
            background-color: $primary-color;
            border-radius: 2px;
            content: "";
            position: absolute;
            left: 4px;
            top: 8px;
            height: 12px;
            width: 12px;
        }
        
    }
}
.radio-button {
    input + span {
        display: block;
        padding-left: 30px;
        
        &:before {
            background-color: $white-color;
            border: {
                color: $line-color;
                style: solid;
                width: 1px;
            }
            border-radius: 100%;
            content: "";
            position: absolute;
            left: 0;
            top: 4px;
            height: 20px;
            width: 20px;
        }
    }
    input:checked + span {
        
        &:after {
            background-color: $primary-color;
            border-radius: 100%;
            content: "";
            position: absolute;
            left: 4px;
            top: 8px;
            height: 12px;
            width: 12px;
        }
        
    }
    
}

.btn {
    text-align: center;
}

/**
 *  Login
 **/
.login {
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    
    > section {
        align-self: center;
        max-width: 400px;
        width: 100%;
    }
}

.login-screen {
    width: 100%;

    .logo {
        margin-bottom: 30px;
        text-align: center;
        width: 100%;

        img {
            margin: auto;
        }
    }

    p {
        color: $grey-color;
        line-height: 24px;
        padding-bottom: 8px;
    }

    input {
        width: 100%;
    }

    .btn {
        clear: both;
        min-width: 160px;
        width: calc(50% - 10px);
    }

    a:not(.btn) {
        padding: 5px 0;
        text-decoration: underline;
    }

    .form-row {
        margin: 12px 0;
        padding: 0;
        border: 0;
    }

    .btn-row {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        padding: 0;
    }

    .k-searchbar + .k-icon {
        display: none;
    }

    #password {
        + ins {
            cursor: pointer;
            height: 42px;
            line-height: 42px;
            width: 42px;
            display: flex;
            position: absolute;
            z-index: 10;
            right: 0;
            justify-content: center;
            top: 0;
            font-size: 20px;
        }

        &[type="text"] {
            + ins {
                &:before {
                    content: "\e95e";
                }
            }
        }

        &[style*="background-image"] {
            + ins {
                right: -45px;
            }
        }
    }

    .pwd-message {
        color: $alert-color;
        font: 16px/24px $font-medium;
        padding: 10px;
    }
    
    .totp {
        img {
            width: 300px;
            margin: 0 auto;
        }
    }
    
    .k-clear-value {
        .k-svg-icon {
            display: inline-block;
            vertical-align: middle;
            width: 16px;
        }
    }
}