// Variables
@import 'variables';

//// MIXINS
@import 'mixin/mixin';

/**
 *  Kendo custom styling
 **/
.k-window {
    @include drop-shadow($black-color, 10px, 0.2);
    border-radius: 6px;

    height: 100% !important;
    max-height: calc(100% - 30px) !important;
    max-width: 100% !important;
    width: 100% !important;

    &.k-window.k-window-maximized {
        border-radius: 6px;
    }

    .k-header {
        @include header-shadow($black-color, 0.05);
        background-color: $white-color;
        border-radius: 6px 6px 0 0;
        color: $text-color;
        height: 75px;
        z-index: 10;
    }

    .k-content {
        background-color: $body-color;
    }

    .window-content {
        overflow: auto;
        padding: 16px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 75px;
    }

    .window-footer {
        @include header-shadow($black-color, 0.05);
        background-color: $white-color;
        border-radius: 0 0 6px 6px;
        box-sizing: border-box;
        color: $grey-color;
        display: flex;
        flex-wrap: wrap;
        min-height: 75px;
        padding: 16px;
        z-index: 10;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;

        @include lg {
            flex-wrap: nowrap;
            height: 75px;
        }
    }
}
.k-window-titlebar {
    padding: 16px;

    .k-window-title {
        font: 30px/43px $font-book;

        strong {
            font: 30px/43px $font-bold;
        }
        button {
            background-color: transparent;
            color: $text-color;
            vertical-align: top;

            >ins {
                font-size: 24px;
                vertical-align: text-bottom;
            }
            > span {
                display: none;
                padding-left: 5px;
            }

            &:hover {
                background-color: $color-1;
                color: $white-color;

                > span {
                    display: inline-block;
                }
            }
        }
    }

    .k-window-action {
        opacity: 1;
    }

    .k-window-actions {
        height: 43px;
        line-height: 43px;
        right: 16px;
        top: 16px;

        .k-button {
            @include transition(200ms);
            border-radius: 3px;
            height: 43px;
            line-height: 43px;
            padding: 0 10px;

            &:not(:last-child) {
                &:hover {
                    background-color: $color-1 !important;
                    width: auto;

                    > span {
                        color: $white-color;
                    }

                    &:after {
                        color: $white-color;
                        content: attr(aria-label);
                        font: 18px/32px $font-bold;
                        opacity: 1;
                        padding-left: 5px;
                        position: relative;
                        text-transform: none;
                    }
                }
            }
        }
    }
}

/**
 *  Kendo widget styling
 **/
.k-widget {
    border: {
        color: $line-color;
        style: solid;
        width: 1px;
    }

    box-sizing: content-box;
    color: $form-text-color;
    line-height: normal;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

/**
 *  Kendo combobox styling
 **/
.k-dropdown,
.k-combobox,
.k-dropdownlist {
    background-color: $white-color;
    background-image: none;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    overflow: visible;
    border-width: 1px;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
    border-color: $line-color;
    border-style: solid;
    font: 16px/24px "Roboto", sans-serif;
    padding: 0;
    height: 42px;

    .k-input-inner {
        background: none;
        border: none;
        width: calc(100% - 48px);

        &:focus {
            box-shadow: none;
        }
    }

    span.k-input-inner {
        display: inline-block;

        .k-input-value-text {
            display: block;
            line-height: 42px;
            padding-left: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .k-input-button {
        height: 40px;
        line-height: normal;
        vertical-align: top;
        margin: 0;
        padding: 8px;
        cursor: pointer;
        background-color: $ultra-lt-color;
        float: right;
    }

    .k-icon {
        color: inherit;
        display: inline-block;
        font-family: 'icomoon' !important;
        font-size: 16px;
        font-variant: normal;
        line-height: 16px;
        overflow: hidden;
        text-align: center;
        text-transform: none;
        text-indent: 0;
        -webkit-font-smoothing: antialiased;
        vertical-align: middle;
        width: 16px;

        &.k-i-arrow-s:before {
            content: "\e986";
        }

        &.k-i-x:before {
            content: "\e98d";
            cursor: pointer;
            font-size: 12px;
        }
    }
}

.k-combobox-clearable {
    .k-input {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.k-popup {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);

    &.k-list-container {
        border: {
            color: $line-color;
            style: solid;
            width: 1px;
        }

        border-radius: 2px;
        padding: 5px 0;
    }

    > .k-group-header {
        background-color: $line-color;
        color: $form-text-color;
        font-size: 14px;
        min-height: 30px;
        line-height: 30px;
        padding: 1px 5px 1px 5px;
        text-align: right;
        text-transform: uppercase;
    }

    .k-list {
        .k-list-item {
            border: {
                color: transparent;
                style: solid;
                width: 1px;
            }

            cursor: default;
            min-height: 35px;
            line-height: 35px;
            padding: 1px 11px;

            > .k-group {
                background-color: $line-color;
                border-bottom-left-radius: 1px;
                color: $text-color;
                font-size: 14px;
                position: absolute;
                top: 0;
                right: 0;
                padding: 0 7px;
                line-height: 25px;
                text-transform: uppercase;
            }

            &:hover {
                background-color: $line-lt-color;
            }
        }

        .k-focus {
            border: {
                color: transparent;
                style: solid;
                width: 1px;
            }
        }
    }
}

.k-animation-container {
    z-index: 11;

    > div {
        color: $form-text-color;
        background-color: $white-color;
        max-height: 400px;
        overflow: auto;
    }
}

.k-group {
    color: $form-text-color;
    background-color: $white-color;
}

.k-list-scroller {
    position: relative;
    overflow: auto;
}

.k-list {
    height: auto;

    .k-focus {
        background-color: $line-color;
        border-radius: 1px;
        box-shadow: none;
        color: $form-text-color;
    }
}

.k-group-header {
    + div {
        > .k-list {
            > .k-list-item {
                &.k-first {
                    &:before {
                        content: " ";
                        display: block;
                        border-top-color: $line-color;
                        border-top-width: 1px;
                        border-top-style: solid;
                        position: absolute;
                        top: -1px;
                        left: 0;
                        right: 0
                    }
                }
            }
        }
    }
}

.k-nodata {
    color: $grey-color;
    min-height: 138px;
    width: 100%;
    display: table;
    text-transform: uppercase;
    font-size: .85em;
    font-weight: lighter;

    > div {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        padding: 11px;
    }
}

/**
 *  Kendo icon styling
 **/
.k-button-icon {
    .k-icon {
        @include icon-font;
        color: $text-color;
        font-size: 24px;
        height: 24px;
        overflow: visible !important;
        width: 24px;

        &.k-i-verwijderen:before,
        &.k-i-delete:before {
            content: "\e9c7";
        }

        &.k-i-verversen:before,
        &.k-i-refresh:before {
            content: "\e9b9";
        }

        &.k-i-close:before {
            content: "\e98d";
        }

        &.k-i-vertalen:before {
            content: "\e963";
        }

        &.k-i-plus {
            font-family: WebComponentsIcons !important;
        }
    }

    &:after {
    }
}

/**
 *  Kendo button styling
 **/
.btn {
    @include transition(200ms);
    border-radius: 3px;
    cursor: pointer;
    font: 18px/32px $font-bold;
    padding: 5px 15px;
    white-space: nowrap;

    &.btn-primary {
        background-color: $primary-color;
        color: $white-color;

        &:hover {
            background-color: darken($primary-color, 8%);
        }
    }
    &.btn-secundary {
        background-color: $line-color;
        color: $text-color;

        &:hover {
            background-color: darken($line-color, 8%);
        }
    }
    &.btn-right {
        margin-left: 16px;
    }
    &.btn-left {
        margin-right: 16px;
    }
}

/**
 *  Kendo meta-data styling
 **/
.metaData {
    order: -1;
    padding-bottom: 10px;
    width: 100%;

    @include lg {
        flex-grow: 1;
        order: 0;
        padding-bottom: 0;
        width: auto;
    }

    + .btn-right {
        margin-left: auto;

        @include lg {
            margin-left: 16px;
        }
    }
}

.meta-data {
    font-size: 11px;
    line-height: normal;

    > li {
        display: inline-block;
        padding-right: 10px;
    }
}

/**
 *  Kendo combobox styling
 **/
.k-combobox {
    width: 100%;
}