// Variables
@import 'variables';

//// MIXINS
@import 'mixin/mixin';

/**
 *  Common styles
 **/
*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    outline: 0;
    resize: none;
    position: relative;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

html {
    height: 100%;
    min-height: 100%;
    width: 100%;
}

body {
    background-color: $body-color;
    color: $text-color;
    min-height: 100%;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;

    &:after {
        @include icon-font;
        @include text-rgba($black-color, 0.02);
        content: "\ea32";
        font-size: 1350px;
        position: fixed;
        right: 0;
        bottom: 0;
        transform: translate(33%, 30%);
    }
}

img {
    max-width: 100%;
    display: block;
}

.hidden {
    display: none;
}

/* SCROLLBAR */
::-webkit-scrollbar-track {
	border-radius: $scroll-bar-radius;
	background-color: $scroll-track-color;
}
::-webkit-scrollbar {
    border-radius: $scroll-bar-radius;
    height: $scroll-bar-radius * 2;
    width: $scroll-bar-radius * 2;
    background-color: $scroll-track-color;
}
::-webkit-scrollbar-thumb {
	border-radius: $scroll-bar-radius;
	background-color: $scroll-thumb-color;
}

a:not(.btn) {
    color: $text-color;
    text-decoration: none;

    &:hover {
        color: $primary-color;
    }
}

ins {
    text-decoration: none;
}

.align-right {
    float: right;
}

.align-left {
    float: left;
}

button,
.btn {
    line-height: 24px;
    padding: 8px 20px;
    display: inline-block;
    color: $text-color;
    font-family: $font-body;
    border: none;
}

a.btn {
    text-decoration: none;
}

.noForm {
    display: none;
}

header {
}

#app {
    position: absolute;
    height: 100%;
    width: 100%;

    > div {
        height: 100%;
        width: 100%;
    }
}

.form-row {
    border-bottom: {
        color: $line-color;
        style: solid;
        width: 1px;
    }

    padding: 15px 0;
}

.btn-row {
    padding: 15px 0;
}

/**
 * Main
 **/
main {
    &.scrollable {
        overflow: auto;
    }
}

/**
 * Error alerts
 **/
.full-error {
    background-color: $alert-color;
    color: $white-color;
    padding: 12px 12px 12px 40px;
    line-height: 20px;
    max-height: 400px;
    overflow: auto;
    width: 100%;

    ins {
        position: absolute;
        top: 12px;
        left: 12px;
    }
}
.error-row {
    @include background-rgba($alert-color, 0.15);
    color: $alert-color;
    font-style: italic;
    padding: 6px 12px;
    white-space: pre-wrap;

    ins {
        vertical-align: middle;
    }

    span {
        font-size: 12px;
        vertical-align: middle;
    }
}

/**
 * Loading
 **/
.btn {
    &.loading {
        color: transparent !important;

        &:after {
            color: $white-color;
            content: "\ec50";
            font-family: 'icomoon' !important;
            font-size: 30px;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            position: absolute;
            left: 50%;
            top: 50%;
            animation: ld-cycle 0.5s infinite linear;
        }
    }
}

main, div, section {
    &.loading {
        &:before {
            @include background-rgba($black-color, 0.75);
            color: $white-color;
            content: "Bezig met laden...";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10000;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 100px;
        }

        &:after {
            color: $white-color;
            content: "\ec50";
            font-family: 'icomoon' !important;
            font-size: 50px;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 10001;
            animation: ld-cycle 0.5s infinite linear;
        }
    }
}

@keyframes ld-cycle {
    0% {
        animation-timing-function: cubic-bezier(0.3333,0.3333,0.6667,0.6667);
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

@keyframes ld-spin {
    0% {
        animation-timing-function: cubic-bezier(0.5856,0.0703,0.4143,0.9297);
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

/**
 *  Main menu
 **/
.main-menu {
    @include xl {
        flex-wrap: nowrap;
    }

    @include md {
        height: 70px;
    }

    @include lg-down {
        flex-wrap: nowrap;
    }

    display: flex;
    flex-wrap: wrap;
    height: 54px;
    width: 100%;

    > li {
        max-height: 70px;
        min-width: 70px;
        order: 1;
        flex-shrink: 0;

        &:not(#side-menu) {
            z-index: 50;

            &.login {
                z-index: 1050;
            }
        }

        &.tabs {
            @include lg-down {
                position: absolute;
                top: 70px;
                left: 0;
                right: 0;
                height: 35px;
            }

            background-color: $white-color;

            border-top: {
                color: $line-color;
                width: 1px;
                style: solid;
            }

            display: flex;
            flex-basis: 100%;
            order: 2;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            scroll-snap-type: x mandatory;
            overflow-y: hidden;

            @include xl {
                align-items: flex-end;
                background-color: transparent;
                border-color: transparent;
                flex-basis: 25%;
                flex-grow: 1;
                order: 1;
            }

            > div {
                width: 100%;
            }

            .swiper-container {
                width: 100%;
            }

            .swiper-slide {
                width: auto;

                @include xl {
                    width: 200px;
                }

                &:last-child {
                    margin-right: 200px;
                }
            }

            .swiper-button-prev,
            .swiper-button-next {
                background: none;
                background-color: $white-color;
                height: 34px;
                margin: 0;
                position: absolute;
                top: 0;
                left: auto;
                right: 0;
                width: 34px;

                > ins {
                    display: block;
                    height: 34px;
                    line-height: 34px;
                    text-align: center;
                    width: 34px;
                }

                &.swiper-button-disabled {
                    opacity: 1;

                    > ins {
                        opacity: 0.35;
                    }
                }
            }

            .swiper-button-prev {
                right: 34px;
            }

            .tab-item {
                cursor: pointer;
                border-radius: 3px 3px 0 0;
                display: flex;
                line-height: 32px;
                padding: 6px 40px 6px 6px;
                flex-wrap: nowrap;
                width: fit-content;
                scroll-snap-align: start;

                > ins {
                    font-size: 20px;
                    padding: 0 5px;
                    vertical-align: text-bottom;
                }

                > strong {
                    display: inline-block;
                    flex-shrink: 1;
                    font-size: 16px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                > span {
                    display: block;
                    height: 34px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 34px;

                    &:before,
                    &:after {
                        background: $grey-color;
                        content: "";
                        height: 15px;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        width: 1px;
                    }

                    &:before {
                        transform: translate(-50%,-50%) rotate(45deg);
                    }

                    &:after {
                        transform: translate(-50%,-50%) rotate(-45deg);
                    }
                }

                &:after {
                    background-color: $tab-color;
                    content: "";
                    height: 24px;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    width: 1px;
                }

                &.active {
                    background-color: $tab-color;
                    max-width: fit-content !important;

                    &:before,
                    &:after {
                        display: none;
                    }
                }

                &:hover {
                    color: $primary-color;

                    > span {

                        &:before,
                        &:after {
                            background: $primary-color;
                        }
                    }
                }
            }
        }

        &.icons {
            @include xl {
                margin-left: 0;
            }

            @include md-down {
                margin-left: -1px;
            }

            display: flex;
            margin-left: auto;
            padding: 0;
            z-index: 60 !important;

            .ico-item {
                cursor: pointer;

                ins {
                    display: block;
                    font-size: 26px;
                    height: 70px;
                    line-height: 70px;
                    text-align: center;
                    width: 55px;
                }

                &:first-child {
                    @include lg-down {
                        padding-left: 0;
                    }

                    border-left: {
                        color: $line-color;
                        width: 1px;
                        style: solid;
                    }

                    padding-left: 2px;
                }

                &:last-child {
                    padding-right: 2px;
                }
            }
        }

        &.login {
            @include lg-down {
                flex-shrink: 1;
            }

            cursor: pointer;

            border-left: {
                color: $line-color;
                width: 1px;
                style: solid;
            }

            > span {
                @include lg-down {
                    padding: 14px 35px 0 20px;
                    max-width: 100%;
                }

                display: block;
                padding: 14px 50px 0 30px;
                text-align: right;

                * {
                    display: block;
                    line-height: 20px;
                }

                span {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    margin-left: auto;
                    white-space: nowrap;
                }

                ins {
                    @include lg-down {
                        right: 10px;
                    }

                    font-size: 12px;
                    position: absolute;
                    right: 20px;
                    bottom: 15px;
                }
            }
        }

        &.logo {
            @include lg-down {
                padding: 25px 10px;
                width: 70px;
            }

            padding: 15px 10px;
            width: 100px;

            .logo1 {
                fill: $logo-color-1;
            }

            .logo2 {
                fill: rgba($logo-color-2, 0.5);
            }
        }

        .sub-menu {
            @include drop-shadow($black-color, 20px, 0.1);
            @include transition(50ms);
            background-color: $white-color;
            border-radius: 8px;
            display: block;
            padding: 20px;
            position: absolute;
            right: -15px;
            top: 82px;
            transform: translateY(15px);
            visibility: hidden;
            width: 350px;

            > li {
                > a {
                    display: block;
                    line-height: 40px;

                    ins {
                        font-size: 20px;
                        padding: 0 15px 0 5px;
                        vertical-align: text-bottom;
                    }
                }
            }

            &:after {
                @include arrow(top, $white-color, 10px);
                content: "";
                position: absolute;
                bottom: 100%;
                right: 32px;
            }

            &:before {
                content: "";
                position: absolute;
                bottom: 100%;
                left: 0;
                right: 0;
                height: 35px;
            }
        }

        &:hover {
            > .sub-menu {
                transform: translateY(0);
                visibility: visible;
            }
        }
    }

    &:after {
        @include header-shadow($black-color, 0.05);
        background-color: $white-color;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 20;
    }

    #side-menu {
        height: 100%;
        width: 70px;

        > div {
            cursor: pointer;
            height: 70px;

            > ins {
                height: 70px;
                line-height: 70px;
                margin: 0 22px;
            }

            > span {
                display: none;
            }
        }
    }

    nav {
        @include header-shadow($black-color, 0.05);
        background-color: $white-color;

        border-top: {
            color: $line-color;
            width: 1px;
            style: solid;
        }

        line-height: 40px;
        overflow: hidden;
        position: fixed;
        top: 105px;
        left: 0;
        bottom: 0;
        width: 70px;
        z-index: 10;


        @include xl {
            top: 70px;
        }

        li {
            white-space: nowrap;
        }

        a {
            @include transition(50ms);
            display: block;
            line-height: 40px;
        }

        strong {
            display: block;
            line-height: 40px;
            max-height: 0;
            padding-left: 70px;
            overflow: hidden;
        }

        ins {
            display: inline-block;
            font-size: 20px;
            text-align: center;
            vertical-align: text-bottom;
            width: 70px;
        }

        span {
            @include lg {
                font-size: 16px;
                max-width: 220px;
            }

            display: inline-block;
            font-size: 14px;
            max-width: 120px;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle;
        }

        button {
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            bottom: 0;
            align-items: center;
            width: 60px;
            line-height: normal;
            padding: 0;
            background: none;

            ins {
                @include transition(100ms);
                opacity: 0;
                width: 60px;
            }

            &.pinned {
                ins {
                    opacity: 1 !important;
                }
            }
        }

        li {
            li {
                &:hover {
                    button {
                        ins {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .side-sub-menu {
            li {
                white-space: nowrap;

                > a {
                    @include transition(50ms);
                    display: block;
                    line-height: 40px;

                    > * {
                        transition: none;
                    }

                    > span {
                        @include lg {
                            max-width: 220px;
                        }

                        display: inline-block;
                        max-width: 120px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        vertical-align: middle;
                    }
                }
            }
        }

        .menu-scroller {
            @include lg {
                width: 300px;
            }

            position: absolute;
            overflow-y: auto;
            width: 200px;
            height: 100%;

            > ul {
                padding: 10px 0;
            }
        }
    }
}

.on-canvas {
    .main-menu {
        nav {
            overflow: visible;

            .menu-scroller {
                width: 100%;
                overflow: visible;
            }

            a {
                span {
                    background-color: $text-color;
                    color: $white-color;
                    line-height: 30px;
                    padding: 0 10px;
                    transform: translateX(5px);
                    opacity: 0;
                    pointer-events: none;
                    border-radius: 15px;
                    transition: transform 150ms ease-in-out 500ms;
                }

                &:hover {
                    span {
                        transform: translateX(-15px);
                        transition: transform 150ms ease-in-out 0ms;
                        opacity: 1;
                        pointer-events: all;
                    }
                }
            }

            button {
                display: none;
                pointer-events: none;
            }
        }
    }
}

main {
    @include transition(50ms);
    overflow: hidden;
    padding: 10px;
    position: fixed;
    top: 105px;
    left: 70px;
    right: 0;
    bottom: 0;
    z-index: 1;

    @include xl {
        padding: 20px;
        top: 70px;
    }

    .window-container {
        @include transition(50ms);
        height: 100%;
        overflow: visible !important;
        width: 100%;
    }

    .iframe-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        > iframe {
            border: 0;
            height: 100%;
            width: 100%;

            &:not(.active) {
                display: none;
            }
        }
    }

    &.login {
        .iframe-container {
            pointer-events: none;
        }
    }
}

#menu-btn {
    border-right: {
        color: $line-color;
        width: 1px;
        style: solid;
    }

    display: block;
    z-index: 30;

    > ins {
        font-size: 26px;
    }
}

#side-btn {
    @include header-shadow($black-color, 0.05);
    @include transition(50ms);
    background: $white-color;

    border-left: {
        color: $line-color;
        width: 1px;
        style: solid;
    }

    border-radius: 0 5px 5px 0;
    display: block;
    height: 60px;
    line-height: 60px;
    position: fixed;
    top: 50%;
    left: 70px;
    width: 30px;
    z-index: 5;

    @include xl {
        display: none;
    }

    > ins {
        @include transition(50ms);
        font-size: 12px;
        position: absolute;
        left: 0;
        width: 30px;
        margin: 0 !important;
        padding: 0 9px;
    }
}

.form-inline {
    padding: 0 20px;

    h1 {
        font: 30px/43px $font-book;
    }

    label {
        font: 15px/24px $font-bold;
        color: $grey-color;
        display: block;
        padding-left: 2px;
    }

    .hint {
        font: 14px/17px $font-book;
        font-style: italic;
        color: $grey-color;
        padding-left: 2px;

        strong {
            font: revert;
        }
    }

    input {
        min-width: 50%;
        max-width: 100%;
        width: 600px;
    }

    input[type=checkbox],
    input[type=radio] {
        width: 14px;
        height: 14px;
        min-width: 14px;
        max-width: 14px;
    }

    fieldset {
        border: none;

        border-top: {
            color: $grey-color;
            style: solid;
            width: 1px;
        }

        margin-top: 15px;

        legend {
            background-color: $grey-color;
            color: $white-color;
            padding: 0 10px;
            border-radius: 3px;
        }
    }
}

body {
    &.menu-active {
        nav {
            @include lg {
                width: 300px;
            }

            width: 200px;

            strong {
                max-height: 40px;
                padding-left: 22px;
            }

            .side-sub-menu {
                margin-bottom: 15px;
            }
        }

        #side-btn {
            @include lg {
                left: 300px;
            }

            left: 200px;

            > ins {
                transform: rotate(180deg);
            }
        }

        main {
            @include lg {
                left: 300px;
            }

            left: 200px;

            &.login {
                left: 0;
            }
        }
    }

    &.off-canvas {
        nav {
            transform: translateX(-110%);
        }

        #side-btn {
            left: -50px;
        }

        main {
            left: 0;
        }
    }
}

/** Fix for CSS bug Kendo, dropdown inside a dialog will otherwise not be properly visible. **/
.k-animation-container-shown {
    z-index: 1100 !important;
}

// Button to send feedback about bugs etc.
#bugButton {
    position: fixed;
    z-index: 10000;
    border-radius: 100%;
    min-height: 50px;
    min-width: 50px;
    height: 50px;
    width: 50px;
    right: 20px;
    bottom: 20px;
    margin-right: 20px;
    padding: 0;
    background-color: $text-color;
    color: $white-color;
    font-size: 32px;
    cursor: pointer;

    &:hover {
        background-color: $primary-hover-color;
        box-shadow: 0 2px 6px rgba($black-color, 0.2), 0 2px 3px rgba($black-color, 0.05);
    }
}

// Button to send feedback about bugs etc.
#bugButton {
    position: fixed;
    z-index: 10000;
    border-radius: 100%;
    min-height: 50px;
    min-width: 50px;
    height: 50px;
    width: 50px;
    right: 20px;
    bottom: 20px;
    margin-right: 20px;
    padding: 0;
    background-color: $text-color;
    color: $white-color;
    font-size: 32px;
    cursor: pointer;

    &:hover {
        background-color: $primary-hover-color;
        box-shadow: 0 2px 6px rgba($black-color, 0.2), 0 2px 3px rgba($black-color, 0.05);
    }
}

ul.totp-backup-codes {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;

    li {
        flex: 50%;
        text-align: center;
    }
}

.change-password-prompt input {
    width: 100%;
}