// _colors.scss

// Base colors.
$body-color: #F5F7F8;
$text-color: #282828;
$primary-color: #2ECC71;
$primary-hover-color: #20BFF9;
$alert-color: #FF6339;
$color-1: #F55523;
$color-2: #F8BA00;
$color-3: #008ECB;
$color-4: #D43362;
$white-color: #FFFFFF;
$black-color: #000000;
$button-cancel-color: #CCCCCC;
$grey-color: #777777;
$thead-color: #666666;
$topbar-color: #EEEEEE;
$line-color: #E6E6E6;
$line-md-color: #F0F0F0;
$line-lt-color: #F5F5F5;
$lt-color: #F8F8F8;
$ultra-lt-color: #FAFAFA;
$tab-color: #EFF1F2;
$form-text-color: #444444;
$logo-color-1: #FCB62A;
$logo-color-2: $text-color;
$selected-color: #00B0FF;

// Status colors.
$color-success: #77C67E;
$color-failed: #E79493;
$color-paused: #8CB3E9;
$color-warning: #F2C89B;

// Progress colors.
$color-progress-green: #2ECC71;
$color-progress-yellow: #FFE162;
$color-progress-orange: #FF6800;
$color-progress-red: #CC0000;