// _fonts.scss
$font-url: 'fonts/';
$font-body: 'Roboto', sans-serif;
$font-bold: 'Roboto', sans-serif;
$font-medium: 'Roboto', sans-serif;
$font-demi: 'Roboto', sans-serif;
$font-book: 'Roboto', sans-serif;
$font-title: 'Red Hat Display', sans-serif;