@import "../../Base/Scss/base.scss";

#fullForm {
    display: block;
}

body.embedded {
    overflow: hidden;
}

body.embedded .data-builder .fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.fullscreen-loader {
    position: fixed;
}

.k-selection-multiple .k-reset {
    float: left;
    overflow: hidden;
}

.connectionBlock {
    clear: both;
    width: 100%;
}

.k-window-content.k-dialog-content.itemProperties {
    padding-bottom: 60px;
}

.itemProperties {
    background-color: var(--white-color);
    overflow: hidden;
    overflow-y: auto;
}

.itemProperties .toolBar {
    overflow: hidden;
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
}

.itemProperties .toolBar button {
    float: right;
    margin: 0 0 0 10px;
}

#viewResult {
    background: var(--item-bg-color);
    clear: both;
    display: block;
    float: right;
    height: 50vh;
    padding: 0 15px;
    margin-top: 0;
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    width: 100%;
}

#viewResult.active {
    border: 1px solid var(--handle-bg-color);
    padding: 15px;
    margin-top: 10px;
    max-height: 50vh;
}

#viewResult.active:before {
    content: attr(data-header-text);
    display: block;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 10px;
}

#viewResult .CodeMirror {
    height: calc(50vh - 65px);
    margin-top: 10px;
}

#resultClose {
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    top: 15px;
    right: 15px;
}

/* DATABUILDER */
#dataBuilder {
    background: var(--item-bg-color);
    min-height: calc(100vh - 60px);
    padding-bottom: 45px;
    overflow-x: hidden;
}

.data-builder span.k-widget,
.data-builder div.k-multiselect,
.data-builder .item .inline {
    max-width: 100%;
}

.data-builder .k-selection-multiple {
    max-height: none;
}

.data-builder .fixed button {
    margin: 0 0 0 10px;
}

.data-builder .item > .k-button {
    width: auto;
}

.dbInput > .itemProperties {
    width: calc(100% - 8px);
}

.dbInput > .itemProperties .k-dropdown,
.dbInput > .itemProperties .k-dropdownlist {
    width: 100%;
}

.dbInput {
    display: flex;
    flex-flow: wrap;
    align-items: start;
    padding: 0 40px 0 48px;
    position: relative;
}

.dbInput:after {
    clear: both;
    content: "";
    display: table;
}

.dbInput > .k-widget {
    float: left;
    margin-right: 8px;
    width: calc(40% - 8px);
}

.dbInput > .k-widget.scope-value-select,
.dbInput > .k-widget.free-input {
    width: calc(40% - 56px);
}

.dbInput > .k-combobox,
.dbInput .k-dropdown,
.dbInput .k-dropdownlist {
    width: calc(30% - 8px);
}

.dbInput > .checkTree {
    width: calc(70% - 126px);
    margin: 5px 0;
    margin-right: 8px;
    max-height: 200px;
}

.dbInput > .checkTree > ul {
    background: var(--white-color);
    min-height: 34px;
    padding: 4px;
}

.dbInput .delete-button,
.dbInput .edit-field-button,
.dbInput .or-button {
    background-color: var(--handle-bg-color);
    border-color: var(--handle-bg-color);
    color: var(--black-color);
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 5px;
    height: 42px;
    width: 40px;
}

.dbInput .edit-field-button {
    position: relative;
    float: left;
    margin-right: 8px;
}

.dbInput .optional-checkbox {
    height: 42px;
    margin: 5px 0;
    margin-right: 8px;
    width: 110px;
    flex-grow: 1;
}

.dbInput .optional-checkbox label {
    background-color: var(--handle-bg-color);
    padding: 2px 8px;
    float: right;
}

.dbInput .or-button {
    left: auto;
    right: 0;
    pointer-events: none;
}

.dbInput:last-child .or-button {
    background-color: var(--secundary-color);
    border-color: var(--secundary-color);
    color: var(--white-color);
    pointer-events: all;
}

.dbInput .k-button .k-icon {
    margin: 0;
}

/* TEMP */
footer #dataBuilderButton {
    display: none;
}
