@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");

@font-face {
  font-family: 'AvantGardeGothic-Bd';
  src: url("../../../Core/Fonts/2E9188_0_0.eot");
  src: url("../../../Core/Fonts/2E9188_0_0.eot?#iefix") format("embedded-opentype"), 
	  url("../../../Core/Fonts/2E9188_0_0.woff2") format("woff2"), 
	  url("../../../Core/Fonts/2E9188_0_0.woff") format("woff"), 
	  url("../../../Core/Fonts/2E9188_0_0.ttf") format("truetype");
}

@font-face {
  font-family: 'AvantGardeGothic-Bk';
  src: url("../../../Core/Fonts/2E9188_1_0.eot");
  src: url("../../../Core/Fonts/2E9188_1_0.eot?#iefix") format("embedded-opentype"), 
	  url("../../../Core/Fonts/2E9188_1_0.woff2") format("woff2"), 
	  url("../../../Core/Fonts/2E9188_1_0.woff") format("woff"), 
	  url("../../../Core/Fonts/2E9188_1_0.ttf") format("truetype");
}

@font-face {
  font-family: 'AvantGardeGothic-Dm';
  src: url("../../../Core/Fonts/2E9188_4_0.eot");
  src: url("../../../Core/Fonts/2E9188_4_0.eot?#iefix") format("embedded-opentype"), 
	  url("../../../Core/Fonts/2E9188_4_0.woff2") format("woff2"), 
	  url("../../../Core/Fonts/2E9188_4_0.woff") format("woff"), 
	  url("../../../Core/Fonts/2E9188_4_0.ttf") format("truetype");
}

@font-face {
  font-family: 'AvantGardeGothic-Md';
  src: url("../../../Core/Fonts/2E9188_8_0.eot");
  src: url("../../../Core/Fonts/2E9188_8_0.eot?#iefix") format("embedded-opentype"), 
	  url("../../../Core/Fonts/2E9188_8_0.woff2") format("woff2"), 
	  url("../../../Core/Fonts/2E9188_8_0.woff") format("woff"), 
	  url("../../../Core/Fonts/2E9188_8_0.ttf") format("truetype");
}

