:root {
	--bold-txt: 		'Roboto', sans-serif;
	--medium-txt: 		'Roboto', sans-serif;
	--demi-txt: 		'Roboto', sans-serif;
	--regular-txt: 		'Roboto', sans-serif;
	--body-txt: 		'Roboto', sans-serif;
	--title-txt:		'Red Hat Display', sans-serif;
	
    --body-color:       #F5F7F8;
	--dark-txt: 		#282828;
	--dark-link-txt:	#444444;
	--scroll-color: 	#777777;
	--light-txt: 		#666666;
	--lighter-txt: 		#999999;
	--border-color: 	#E6E6E6;
	--dark-bd-color: 	#C7C7C7;
	--white-color: 		#FFFFFF;
	--black-color: 		#000000;
	--lightest-color: 	#F8F8F8;
	--lighter-color: 	#F5F5F5;
	--light-color: 		#F3F5F7;
	--bg-color: 		#F0F0F0;
	--item-bg-color: 	#EEEEEE;
	--handle-bg-color: 	#DDDDDD;
	--medium-color: 	#CCCCCC;
	--width-bg-color: 	#BBBBBB;
	--read-only-color: 	#AAAAAA;
	--error-bg-color: 	#F31700;
	--action-color: 	#2ECC71;
	--action-hover: 	#26AB5F;
	--sec-color: 		#E6E6E6;
	--sec-hover: 		#D2D2D2;
	--active-tab: 		#EFF1F2;

    --unchecked-color:	#DFDFDF;
    --checked-color:	#F3BF33;
	
	--color-1: 			#01AEF0;
	--color-2: 			#F55523;
	--color-3: 			#FFB901;
	--color-4: 			#7FBA00;
	--color-5: 			#BA2049;
	
	--rgba-color-1: 	rgba(1, 174, 240, 0.1);
	--rgba-color-2: 	rgba(216, 85, 43, 0.1);
	--rgba-color-3: 	rgba(255, 185, 1, 0.1);
	--rgba-color-4: 	rgba(127, 186, 0, 0.1);
	--rgba-color-5: 	rgba(186, 32, 73, 0.1);
	--rgba-error: 		rgba(243, 23, 0, 0.1);
	--rgba-action:		rgba(46, 204, 113, 0.1);
    --rgba-loader-bg:   rgba(0, 0, 0, 0.5);
	--filter-color: 	rgba(0, 0, 0, 0.15);
	--shadow-color: 	rgba(0, 0, 0, 0.2);
	
	--primary-color: 	var(--action-color);
	--primary-hover: 	var(--action-hover);
	--secundary-color: 	var(--sec-color);
	--secundary-hover: 	var(--sec-hover);
	--link-color: 		var(--action-color);
	--btn-color: 		var(--action-color);

	--drop-shadow:		0 4px 4px 0 var(--shadow-color);
	
	--notify-error:		#BA2049;
	--notify-warning:	#F5A600;
	--notify-success:	#5FB662;
	--notify-info:		#333333;
}