@import "../../Base/css/kendo.custom.css";
@import "../../Base/css/kendo.wiser.css";
@import "../../Base/css/fonts.css";
@import "../../Base/css/icons.css";
@import "../../Base/css/variables.css";
@import "../../Base/css/masterpage.css";

//Kendo Theme fixes after updates
@import "../../Base/css/kendo.material-6.4.0-fixes.css";