<div id="developmentTab">
    <partial name="Tabs/DevelopmentTab" />
</div>
<div id="configTab">
    <partial name="Tabs/ConfigTab" />
</div>
<div id="historyTab">
    <partial name="Tabs/HistoryTab" />
</div>
<div>
    <partial name="Tabs/DynamicContentTab" />
</div>