<div id="developmentTab">
    <partial name="Tabs/DevelopmentTab" />
</div>
<div id="wtsConfigurationTab">
    <partial name="Tabs/WtsConfigurationTab" />
</div>
<div id="historyTab">
    <partial name="Tabs/HistoryTab" />
</div>
<div>
    <partial name="Tabs/DynamicContentTab" />
</div>