@model Api.Modules.Templates.Models.Template.TemplateOverviewModel
<div id="developmentTab">
    <partial name="Tabs/DevelopmentTab" />
</div>
<div id="historyTab">
    <partial name="Tabs/HistoryTab" />
</div>
<div>
    <partial name="Tabs/DynamicContentTab" />
</div>
<div id="previewTab">
    <partial name="Tabs/PreviewTab" />
</div>