@import "../../Base/Scss/base.scss";

#fullForm {
    display: block;
    height: 100%;
}

#tabStrip {
    height: calc(100% - 52px);
}

.padding-8 {
    padding: 8px;
}

.margin-top-20 {
    margin-top: 20px;
}

.w-10 {
    width: 10% !important;
}

.w-20 {
    width: 20% !important;
}

.w-45 {
    width: 45% !important;
}

.w-75 {
    width: 75% !important;
}

.w-90 {
    width: 90% !important;
}

#MainHeader {
    display: flex;
    background: white;
    padding: 10px 10px 0 10px;
}

#ButtonContainer {
    margin-left: auto;
}

#NameContainer a {
    text-decoration: none;
    color: inherit;
}

.k-tabstrip header {
    background: var(--item-bg-color);
    position: relative;
    z-index: 50;
}

.k-tabstrip .k-tabstrip-items {
    top: 2px;
}

.k-tabstrip .k-tabstrip-items:before {
    background: var(--white-color);
    content: "";
    height: 20px;
    position: absolute;
    bottom: 100%;
    left: 0;
    top: auto;
    width: 100%;
}

#left-pane .k-tabstrip-wrapper {
    padding: 2px;
}

.cToggle,
.rToggle {
    display: inline-block;
    margin: 0 35px 0 5px;
}

.cToggle ~ header + div,
.rToggle ~ header + div {
    max-height: 0;
    overflow: hidden;
}

.rToggle ~ header + div {
    padding-left: 40px;
}

.cToggle:checked ~ header + div,
.rToggle:checked ~ header + div {
    max-height: fit-content;
    overflow: visible;
}

.rToggle:checked ~ header + div {
    margin-bottom: 20px;
}

.cToggle:checked ~ header + div #dataBuilder {
    border: 1px solid #dddddd;
}

.cToggle:nth-child(1):checked ~ header .cToggle:nth-child(1) > span:after,
.cToggle:nth-child(2):checked ~ header .cToggle:nth-child(2) > span:after,
.cToggle:nth-child(3):checked ~ header .cToggle:nth-child(3) > span:after {
    background: var(--color-1);
    content: "";
    height: 10px;
    position: absolute;
    left: 5px;
    top: 13px;
    width: 10px;
}

.rToggle:checked ~ header .rToggle > span:after {
    background: var(--color-1);
    border-radius: 100%;
    content: "";
    height: 10px;
    position: absolute;
    left: 5px;
    top: 13px;
    width: 10px;
}

.k-tabstrip header > button {
    position: absolute;
    right: 10px;
    top: 10px;
}

.next-button .k-icon, .save-button .k-icon {
    margin-right: 0;
    margin-left: 3px;
    margin-left: .1875em;
}

span.k-widget,
div.k-multiselect,
.item .inline,
.item > .k-dropdownlist {
    max-width: calc(100% - 240px);
}

.item .inline.w-10 span.k-widget,
.item .inline.w-20 span.k-widget,
.item .inline.w-45 span.k-widget {
    max-width: calc(100% - 2px);
}

.k-dateinput.k-widget {
    max-width: 100%;
}

.k-timepicker.k-widget,
.half-width.k-widget {
    max-width: 298px;
    margin-bottom: 10px !important;
}

.half-width.k-widget + .form-hint {
    display: inline-block;
    padding-left: 10px;
    width: auto;
}

table.k-editor,
.k-upload {
    display: table;
    width: calc(100% - 240px);
}

textarea.k-textbox {
    background-color: var(--white-color);
    resize: vertical;
    width: 100%;
}

textarea[data-limit] + span {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    z-index: 60;
    background: rgba(204,204,204,0.75);
    padding: 4px 8px;
}

.k-upload .k-upload-selected {
    display: none;
}

.k-editor-toolbar .k-tool-group span.k-widget {
    max-width: none;
}

.k-daterangepicker {
    gap: 0;
}

.k-dialog #translationsDialog {
    display: block;
}

/* SUMMARY */
.summary > div {
    padding: 25px 25px 5px 25px;
}

.summary > div label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
}

.summary > div ul {
    display: block;
    list-style: none;
}

.summary > div ul li {
    background-color: var(--lighter-color);
    padding: 6px 8px;
    margin-top: 2px;
}

/* SCROLLABLE TO BOTTOM */
#dataSelectorContainer {
    padding-bottom: 35px;
}
#dataSelectorContainer > iframe {
    border: none;
    left: 0;
    width: 100%;
}

/* FOOTER */
footer .actions {
    float: right;
    position: inherit;
    right: auto;
}
#right-pane footer {
    display: flex;
}

@media screen and (max-width: 1024px) {
    footer {
        display: flex;
        flex-wrap: wrap;
    }
    footer .actions {
        margin-top: 10px;
        order: 2;
        width: 100%;
    }
    footer .actions + .actions {
        margin-top: 0;
        order: 1;
    }
    footer .actions .k-button {
        margin: 0;
        width: 100%;
    }
}