@import "../../Base/Scss/base.scss";

#wiser,
.task-history .pane-content {
    min-height: 100%;
    position: relative;
}

/* GRID */
#wiser .gridview,
.task-history .gridview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#task-grid {
    height: 100%;
    max-height: 100%;
}

#task-grid .k-state-selected .k-button {
    display: block;
}

#task-grid .k-grid-content tr td {
    vertical-align: top;
}