//// VARIABLES
@import '../../../Core/Scss/variables';

//// MIXINS
@import '../../../Core/Scss/mixin/mixin';

//// BASE
@import "../../Base/Scss/base.scss";

/**
 *  Common styles
 **/
*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    outline: 0;
    resize: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

html {
    height: 100%;
    min-height: 100%;
    width: 100%;
}
body {
    background-color: $body-color;
    color: $text-color;
    min-height: 100%;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;

    &:after {
        @include icon-font;
        @include text-rgba($black-color, 0.02);
        content: "\ea32";
        font-size: 1350px;
        position: fixed;
        right: 0;
        bottom: 0;
        transform: translate(33%, 30%);
        z-index: 10;
        pointer-events: none;
    }
}

ins, a {
    text-decoration: none;
}

.hidden {
    display: none !important;
}

#fullForm {
    display: block;
    z-index: 20;
}

.k-list {
    overflow-y: auto;
    
    ul {
        li {
            cursor: pointer;
            padding: 0 8px;
            
            &:hover {
                background-color: var(--light-color);
            }
        }
    }
}

/**
 *  Header bar
 **/
.dashboard {
    header {
        background-color: $white-color;
        @include header-shadow($black-color, 0.05);
        padding: 15px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 100;

        .formview {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            
            &.full {
                .item {
                    width: auto;
                    min-width: auto;
                    max-width: none;
                    
                    &.drop-down {
                        min-width: 25%;
                    }
                }
            }
        }
        
       .item {
            background-color: $white-color;
            padding: 0;
            padding-right: 10px;

            .flex-container {
                display: flex;                
                
                label {
                    font-size: 14px;
                    font-weight: 500;
                    white-space: nowrap;
                    margin: 5px 12px 5px 0;
                    position: relative;
                    left: auto;
                    transform: none;
                    text-overflow: unset;
                    top: auto;
                    overflow: unset;
                }
                
                > .k-dropdownlist {
                    display: flex;

                    .k-input-inner {
                        padding: 4px 8px;
                        flex-grow: 1;
                    }
                }
                
                .k-button {
                    padding: 0;
                } 
            }

            &.actions {
                margin-left: auto;
                display: flex;
                gap: 10px;

                button {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    height: 42px;
                    line-height: 42px;
                    width: 42px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    ins {
                        font-size: 24px;
                    }
                }
            }
            
            .k-floating-label-container {
                flex-direction: row-reverse;
                flex-wrap: nowrap;
                align-items: center;
                padding: 0;
            }
           
           .k-picker {
               margin: 0;
           }
           .k-input-inner[type=text] {
               border: 0;
           }
        }

        .k-textbox-container {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: nowrap;
            align-items: center;
            padding-top: 0;

            label {
                position: relative;
                transform: none;
                line-height: normal;
                top: auto;
                left: auto;
                overflow: inherit;
            }
        }
    }
}

.editMenu, .editMenu * {
    list-style: none;
}

.editMenu {
    cursor: pointer;
    z-index: 20;

    > li {
        height: 42px;
        width: 42px;

        > ins {
            color: $black-color;
            height: 42px;
            line-height: 42px;
            width: 42px;
            display: block;
            font-size: 24px;
            text-align: center;
        }
    }

    &:hover {
        background-color: $line-md-color;

        .editSub {
            opacity: 1;
            pointer-events: all;
            top: 42px;
        }
    }
}

.editSub {
    border: 1px solid $line-color;
    background-color: $white-color;
    display: block;
    opacity: 0;
    padding: 8px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 80px;
    transition: 0.2s ease;
    width: 210px;

    > li {
        min-height: 30px;
        line-height: 30px;
        width: 100%;

        &:hover {
            background-color: $line-md-color;
        }
    }

    label {
        cursor: pointer;
        display: block;
        min-height: 30px;
        line-height: 30px;
    }

    ins {
        display: inline-block;
        float: right;
        height: 30px;
        line-height: 30px;
        opacity: 0;
        text-align: center;
        width: 30px;
    }

    span {
        display: inline-block;
        min-height: 20px;
        line-height: 20px;
        max-width: calc(100% - 40px);
        padding: 5px 8px;
    }

    input:checked {
        ~ ins {
            opacity: 1;
        }
    }

    &:hover {
        opacity: 1;
        pointer-events: all;
        top: 42px;
    }
}

/**
 *  Tiles
 **/
.k-widget.k-tilelayout {
    background: transparent;
}

.k-tilelayout-item {
    @include tile-shadow($black-color, 0.05);
    border-color: $white-color;

    .k-card-header {
        background-color: $white-color;
        border-color: $white-color;
        min-height: 55px;
        box-sizing: border-box;

        + .k-card-body {
            max-height: calc(100% - 55px);
        }
    }

    .k-card-title {
        color: $black-color;
        font-size: 18px;
        font-weight: 500;
    }

    .k-card-body {
        max-height: 100%;
        box-sizing: border-box;
    }

    .k-close-button,
    .k-refresh-button {
        background-color: $white-color;
        box-shadow: none;
        font-size: 18px;
        line-height: 1.42857143;
        position: absolute;
        top: 0;
        bottom: 100%;
        margin: 5px;
        padding: 4px;
        z-index: 10;
        display: block;
        height: 38px;
        width: 38px;
        
        &:hover {
            background: var(--item-bg-color)!important;
        }
    }
    
    .k-close-button {
        right: 0;
    }
    
    .k-refresh-button {
        right: 47px;

        .k-i-refresh:before {
            font-size: 14px;
            content: "\e103";
        }
    }

    .k-button-icon {
        padding: 0;
    }

    .tile-content {
        height: 100%;
        max-height: 100%;
        overflow: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

/**
 * Log
 **/
.log-item {
    padding-bottom: 10px;
    width: 100%;

    h4 {
        font-size: 12px;
        opacity: 0.5;
        text-transform: uppercase;
    }
    ul {
        li {
            display: flex;
            align-items: start;
            justify-content: start;
            gap: 10px;
            padding: 3px;
        }
    }
}

/**
 *  Services
 **/
.table-row {
    overflow: hidden;
    display: contents;
}

.fixed-table {
    overflow: auto;
    height: 100%;
    width: 100%;
    margin: 0;

    table {
        border-collapse: collapse;
        line-height: 30px;
        width: 100%;

        thead {
            th {
                background-color: $line-md-color;
                border-bottom: 1px solid $line-color;
                color: $thead-color;
                position: sticky;
                top: 0;
                z-index: 1;
                text-align: left;
            }
        }

        tbody {
            tr {
                &:nth-child(even) {
                    td {
                        background-color: $lt-color;
                    }
                }
            }
        }

        th {
            padding: 1px 5px;
        }

        td {
            padding: 5px;

            &.status {
                &.success {
                    background-color: $color-success;
                }

                &.failed {
                    background-color: $color-failed;
                }

                &.paused {
                    background-color: $color-paused;
                }

                &.warning {
                    background-color: $color-warning;
                }
            }

            &.admin {
                button {
                    background-color: transparent;
                    border: none;
                    padding: 5px;
                    cursor: pointer;
                }
            }
        }
    }
}

/**
 * NUMBERS
 **/
.number-item {
    color: $black-color;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    width: calc(100% / 3);

    ins {
        font-size: 50px;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 24px;
        font-weight: 700;
    }

    > span {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 12px;
        opacity: 0.5;

        .k-icon {
            font-size: 20px;
        }
    }
}

/**
 * PROGRESS BAR
 **/
progress {
    appearance: none;
    border: none;
    display: block;
    height: 30px;
    width: 100%;

    &::-webkit-progress-bar {
        background-color: $line-lt-color !important;
    }

    &::-webkit-progress-value {
        border: 1px solid rgba($black-color, 0.15);
    }

    &:after {
        content: attr(data-max);
        position: absolute;
        top: 6px;
        right: 7px;
    }
}

@for $i from 1 through 50 {
    [value="#{$i}"] {
        &::-webkit-progress-value {
            background-color: $color-progress-green !important;
            border-color: darken( $color-progress-green, 15% );
        }
    }
}

@for $i from 51 through 70 {
    [value="#{$i}"] {
        &::-webkit-progress-value {
            background-color: $color-progress-yellow !important;
            border-color: darken( $color-progress-yellow, 15% );
        }
    }
    [data-percent="#{$i}"] {
        color: $black-color !important;
    }
}

@for $i from 71 through 89 {
    [value="#{$i}"] {
        &::-webkit-progress-value {
            background-color: $color-progress-orange !important;
            border-color: darken( $color-progress-orange, 15% );
        }
    }
}

@for $i from 90 through 100 {
    [value="#{$i}"] {
        &::-webkit-progress-value {
            background-color: $color-progress-red !important;
            border-color: darken( $color-progress-red, 15% );
        }
    }
}

.tile-row {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;

    label {

        + span {
            margin-left: auto;
        }
    }

    a {
        text-decoration: underline;
    }

    button {
        border: none;
        background-color: transparent;
    }

    .progress {
        margin-left: auto;
        max-width: calc(100% - 200px);
        width: 100%;

        span {
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 25%,rgba(255,255,255,0) 100%);
            box-sizing: border-box;
            color: $white-color;
            display: inline-flex;
            align-items: center;
            justify-content: flex-end;
            position: absolute;
            height: 30px;
            z-index: 10;
            padding-right: 10px;

            &:after {
                content: attr(data-value);
            }
        }
    }
}

/**
 * BUTTONS
 **/
.btn-row {
    display: flex;
    gap: 2px;
    margin-top: auto;
    width: 100%;

    button {
        @include transition(150ms);
        border: none;
        cursor: pointer;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        padding: 12px 8px;
        text-transform: none;
        width: 100%;

        &.selected {
            background-color: $primary-color;
            color: $white-color;
        }

        &:hover {
            background-color: darken($line-color, 3%);

            &.selected {
                background-color: darken($primary-color, 5%);
            }
        }
    }
}

/* GRID */
.k-grid {
    .k-command-cell {
        .k-button {
            min-width: 24px;
            box-shadow: none;
            
            .k-icon {
                height: 24px;
                width: 24px;
                opacity: 1;
            }

            .wiser-icon {
                height: 20px;
                font-size: 20px;
            }
        }
    }

    .folded-message {
        white-space: nowrap;
    }
}

/* SCROLLBAR */
::-webkit-scrollbar-track {
    border-radius: $scroll-bar-radius;
    background-color: $scroll-track-color;
}

::-webkit-scrollbar {
    border-radius: $scroll-bar-radius;
    height: calc(#{$scroll-bar-radius} * 2);
    width: calc(#{$scroll-bar-radius} * 2);
    background-color: $scroll-track-color;
}

::-webkit-scrollbar-thumb {
    border-radius: $scroll-bar-radius;
    background-color: $scroll-thumb-color;
}