@using GeeksCoreLibrary.Modules.Templates.Enums
@model FrontEnd.Modules.Templates.Models.DevelopmentTabViewModel
<div class="formview full developmentContainer">
    <partial name="Partials/PublishedEnvironments" model="@Model.TemplateSettings" />

    <partial name="Partials/TemplateEditor" model="@Model"/>
    
    @if (Model.TemplateSettings.Type == TemplateTypes.Html)
    {
        <partial name="Partials/LinkedTemplates" model="@Model.LinkedTemplates"/>
    }
    
    @if (!String.IsNullOrWhiteSpace(Model.EditorType))
    {
        <partial name="Partials/AdvancedSettings" model="@Model"/>
    }
</div>