@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="formview full previewContainer">
    <div class="row preview-settings">
        <div class="col preview-profile">
            <div class="row">
                <div class="col col-12">
                    <div class="flex-container item">
                        <div class="dropdown-container">
                            <select id="preview-combo-select"></select>
                        </div>
                        <div class="dropdown-button">
                            <button id="preview-remove-profile" class="k-primary k-button">@Localizer["Remove profile"]</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-12">
                    <div class="item" data-label-style="float" data-label-width="0">
                        <span class="handler">&nbsp;</span>
                        <h4><label for="profile-url">@Localizer["URL"]</label></h4>
                        <span class="k-widget k-input k-state-default">
                            <input type="url" id="profile-url" class="textField k-input" autocomplete="off" />
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col preview-variables">
            <div class="row">
                <div class="col col-12">
                    <div class="item">
                        <div id="preview-variables"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-12">
                    <div class="item">
                        <div class="button-container">
                            <button id="preview-save-profile-as" class="k-primary k-button">@Localizer["Save profile as..."]</button>
                            <button id="preview-save-profile" class="k-primary k-button">@Localizer["Save profile"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row preview-window">
        <div class="col col-12 preview-window-container">
            <div class="item">
                <iframe id="previewIframe" src="about:blank"></iframe>
            </div>
        </div>
    </div>
</div>