@using Api.Modules.Templates.Attributes
@using FrontEnd.Modules.Templates.Models
@model Api.Modules.Templates.Models.Template.WtsModels.TemplateWtsConfigurationModel;

<div id="tabStripConfiguration" class="k-tabstrip-items-wrapper">
    <ul class="k-tabstrip-items k-reset">
        <li class="service-tab k-state-active" data-name="wts-service">Service</li>
        <li class="timers-tab" data-name="wts-timers">Timers</li>
        <li class="actions-tab" data-name="wts-actions">Actions</li>
        <li class="statistic-tab" data-name="wts-statistic">Statistiek</li>
        <li class="logging-tab" data-name="wts-logging">Logging</li>
    </ul>
    <div id="serviceTab">
        <div class="formview compact">
            @await Html.PartialAsync("RenderPropertiesPartial", new RenderPropertiesModel(Model, ConfigurationTab.Service))
        </div>
    </div>
    <div id="timersTab">
        <div class="formview compact">
            @await Html.PartialAsync("RenderPropertiesPartial", new RenderPropertiesModel(Model, ConfigurationTab.Timers))
        </div>
    </div>
    <div id="actionsTab">
        <div class="formview compact">
            <em>The actions tab is currently disabled</em>
        </div>
    </div>
    <div id="statisticTab">
        <em>Statistics and logs will appear here.</em>
    </div>
    <div id="loggingTab">
        <em>Logs for the service will be displayed here with filters and options.</em>
    </div>
</div>

<footer>
    <div class="version-actions">
        <button id="saveButtonWtsConfiguration" class="k-button k-primary">Configuratie opslaan</button>
    </div>
</footer>