@import "../../Base/scss/base.scss";

#wiser {
    display: block;
}

#MainTabStrip.k-widget {
    display: block;
}

.hidden {
    display: none;
}

.module-admin .pane-content {
    min-height: calc(100% - 65px);
    padding: 1px;
}

.module-admin .k-tabstrip .k-tabstrip-items {
    top: 1px;
}

.module-admin .k-tabstrip .k-tabstrip-items:before {
    height: 1px;
    top: -1px;
}

.module-admin .pane-content > .k-tabstrip-wrapper > .k-tabstrip > .k-tabstrip-items {
    z-index: 200;
}

.iconpreview-icon {
    padding: 10px 0;
}

.iconpreview-name {
    padding: 10px;
}

/* TABS SPLIT */
.tabSplit.k-state-active,
.tabSplit.staticSplit {
    display: flex !important;
}

.tabSplit .left-pane {
    background: #eeeeee;
    border-right: 2px solid var(--dark-txt);
    width: 20%;
    position: relative;
}

.tabSplit .right-pane {
    width: 80%;
}
/* SORTABLE */
.module-admin .sortable-container {
    background: var(--white-color);
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 40px;
    width: 100%;
}

li.sortable {
    list-style-type: none;
}

.module-admin li.sortable {
    list-style-type: none;
    padding: 6px 8px;
    margin: 0;
    cursor: pointer;
}

.module-admin li.sortable:last-child {
    border-bottom: 0;
    border-radius: 0 0 4px 4px;
}

.module-admin li.sortable span {
    display: block;
    float: right;
}

.module-admin li.selected {
    background-color: var(--color-1);
    color: var(--white-color);
}

.module-admin li.sortable:hover {
    background-color: rgba(0, 176, 240, 0.1);
    color: var(--dark-txt);
}

li.hint {
    border: none;
    background-color: var(--dark-txt);
    display: block;
    padding: 6px 8px;
    width: 200px;
    color: var(--white-color);
}

li.hint:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid var(--white-color);
    position: absolute;
    right: 8px;
    top: 8px;
}

li.hint:last-child {
    border-radius: 4px;
}

li.hint span {
    color: var(--white-color);
}

.module-admin li.placeholder, .module-admin li.placeholder:hover {
    box-sizing: border-box;
    border: none;
    display: inline-block;
    width: 100%;
    background-color: rgba(0, 176, 240, 0.1);
    font-size: inherit;
    font-weight: normal;
    line-height: normal;
    text-align: right;
    color: var(--color-1);
}

/* CONDITIONAL FIELDS */
.item[data-visible] {
    display: none;
}

.combo-toggle ~ .togglePanel.active {
    margin-top: 10px;
}
/* FLEX */
.formview .item.half {
    width: 50%;
}

.item h4 + .inline {
    margin: 7px 0;
}

.item h4 + .k-input[type=text] {
    margin: 5px 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-container .item {
    float: left;
}

.flex-container:after {
    clear: both;
    content: "";
    display: table;
}

.inputFlex {
    padding: 0;
    display: flex;
    gap: 5px;
}

.inputFlex > .k-widget:last-child {
    margin-right: 0;
    width: 40%;
}

.dynamic section {
    border-bottom: none;
    padding: 0;
}
/* PANELBAR */
.panelbar {
    margin: 10px;
}
/* BUTTONS */
#addModuleButton {
    margin: 0;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 1000;
}

.flex-container .item.buttons {
    display: flex;
    justify-content: space-between;
}

.flex-container .item.buttons > .k-button {
    margin: 0;
    max-width: calc(50% - 5px);
}

.item > .k-primary.deleteModule,
.item > .k-button-solid-primary.deleteModule {
    background-color: var(--error-bg-color);
}

.buttons > span {
    margin-top: 8px;
    flex-wrap: wrap;
}

.buttons > span .k-button {
    margin: 2px;
    flex-grow: 1;
    min-width: 140px;
}

/* GRIDS */
.multi-check tr.k-state-selected,
.multi-check td.k-state-selected {
    background-color: var(--white-color);
    color: var(--dark-txt);
}

.multi-check tr.k-state-selected > td,
.multi-check td.k-state-selected {
    border-color: var(--border-color);
}

.multi-check input.k-checkbox + label.k-checkbox-label {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.multi-check input.k-checkbox {
    display: none !important;
}

.multi-check input.k-checkbox + label.k-checkbox-label:before {
    content: "";
    position: absolute;
    top: calc(50% - 9px);
    left: calc(50% - 10px);
    font: 16px WebComponentsIcons,monospace;
    border-width: 1px;
    border-style: solid;
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
}

.multi-check input.k-checkbox:checked + label.k-checkbox-label:before {
    content: "\e118";
}

.multi-check input.k-checkbox + label.k-checkbox-label:after {
    content: "";
    display: none;
}

.multi-check .k-checkbox-label:empty {
    display: inline-flex;
}

.multi-check .k-grid-header th.k-header {
    overflow: visible;
}

.multi-check .k-grid-header th,
.multi-check tbody td {
    position: relative;
}

.multi-check .k-filter-row th,
.multi-check .k-state-default > .k-select {
    background-color: var(--white-color);
}

.multi-check .k-input[type=text] {
    border-color: var(--white-color);
}

.multi-check .checkAll label {
    height: 42px;
    position: absolute;
    top: 100% !important;
}

.tabStripActionButton ul.k-tabstrip-items {
    top: 0px;
}

.checkboxGrid > label {
    float: left;
    width: 50%;
}

/* TIMELINE */
.item .inline.titleMargin {
    margin-top: 26px;
}

#searchFields-list {
    display: none !important;
}

/* loader */
.loaderWrap {
    background: rgba(0, 0, 0, 0.40);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    opacity: 0;
    pointer-events: none;
    transition: all 200ms ease;
}

.loaderWrap.active {
    opacity: 1;
    pointer-events: all;
}

.lds-ellipsis {
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: var(--white-color);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}

/* EntityView */
#entityView {
}

#entityView h4 {
    padding-right: 30px;
}

#wiserLinksView .flex-container,
#entityView .flex-container {
    min-width: 50%;
}

.explanation-container {
    height: 400px;
}

table.k-editor {
    height: 100%;
}

.aggregate-example {
    padding-top: 35px;
}

/* Tab strips */
#EntityTabStrip .k-content:not(iframe),
#EntityTabStrip .k-content .left-pane,
#EntityTabStrip .k-content .right-pane {
    height: calc(100vh - 258px);
    overflow: auto;
}
#EntityTabStrip .k-content .right-pane {
    overflow: hidden;
    overflow-y: auto;
}

/* Action button */
.btn-right {
    width: 100%;
    justify-content: end;
    padding: 15px 0;
}

/* Link tab */
#wiserLinksView {
    padding: 6px 12px;
}
#wiserLinksView > h4 {
    padding-right: 12px;
}
.linkPopupContent {
    padding: 10px;
}
.linkPopupContent .item {
    width: 100%;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(19px, 0);
    }
}
