name: Publish dev

on:
  push:
    branches:
      - develop

jobs:
  build:

    runs-on: juice-dev

    steps:
    - uses: actions/checkout@v2
      with:
        ref: develop
    
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Copy partner styles
      run: Copy-Item -Path "${{ secrets.PARTNER_STYLES_LOCATION }}\*" -Destination "${{ secrets.WORKER_LOCATION_TEST }}\wiser\wiser\FrontEnd\Core\Css\partner" -Recurse
      
    - name: Build
      run: dotnet build --no-restore
      
    - name: Test
      run: dotnet test --no-build --verbosity normal
      
    - name: Stop application pool API
      run: Stop-WebAppPool -Name "${{ secrets.APPLICATION_POOL_API_DEV }}"
      
    - name: Stop application pool front-end
      run: Stop-WebAppPool -Name "${{ secrets.APPLICATION_POOL_FRONT_END_DEV }}"

    - name: dotnet publish API
      run: |
        dotnet publish API -c Release -o "${{ secrets.PUBLISH_LOCATION_API_DEV }}" --self-contained true -r win-x64 /p:EnvironmentName=Test

    - name: Install NPM modules
      run: npm install
      working-directory: 'FrontEnd'

    - name: Activate Kendo UI License
      run: npx kendo-ui-license activate
      working-directory: 'FrontEnd'
      env:
        KENDO_UI_LICENSE: ${{ secrets.KENDO_UI_LICENSE }}
                
    - name: Compile scripts and styles with webpack
      run: node_modules\.bin\webpack --mode=development
      working-directory: 'FrontEnd'

    - name: dotnet publish front-end
      run: |
        dotnet publish FrontEnd -c Release -o "${{ secrets.PUBLISH_LOCATION_FRONT_END_DEV }}" --self-contained true -r win-x64 /p:EnvironmentName=Test
      
    - name: Start application pool API
      if: ${{ always() }}
      run: Start-WebAppPool -Name "${{ secrets.APPLICATION_POOL_API_DEV }}"
      
    - name: Start application pool front-end
      if: ${{ always() }}
      run: Start-WebAppPool -Name "${{ secrets.APPLICATION_POOL_FRONT_END_DEV }}"
